{% extends 'base.html.twig' %}

{% block title %}BlogFoot - Accueil{% endblock %}

{% block body %}

<h1 class="titre-page">Bienvenue sur BlogFoot - Votre destination football</h1>
<img class="image-homepage my-4" src="./Images/audience-1866738_1280.jpg" alt="Image d'un terrain de football pour habiller le haut de la page">
<div class="intro-site">
    <p>
        Fan de football depuis longtemps, tacticien hors pair ou encore novice, vous avez trouvé le bon endroit pour lire des avis différents.
        <br>
        <br>
        Sur BlogFoot, nous vous parlerons de match qui ont marqué l'assistance par le niveau très élevé ou au contraire par la déception du jeu proposé par les équipes.
        <br>
        <br>
        Vous pourrez aussi trouver nos avis sur certaines équipes qui marquent les esprits à travers le monde. Vous redécouvrirez peut être l'histoire de vos clubs préférés.
        <br>
        <br>
        Nous essayerons aussi de vous présenter les futurs pépites de l'élite mondiale. Et surtout nous donnerons notre avis sur les performances de certains joueurs et leur actualité.
        <br>
        <br>
        A vos lectures !
    </p>
</div>

{% endblock %}
