{% extends 'base.html.twig' %}

{% block title %}BlogFoot - Ajouter un commentaire{% endblock %}

{% block body %}
    <h1 style="margin-bottom: 30px">Ajouter un commentaire</h1>

    {{ include('comment/_form.html.twig') }}
{% endblock %}
