{% extends 'base.html.twig' %}

{% block title %}BlogFoot - Créer un nouveau compte utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouveau compte utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a href="{{ path('app_admin_user_index') }}"><button class="btn btn-primary">Revenir à la liste des utilisateurs</button></a>
{% endblock %}
