{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    
    <h1>Contactez nous !</h1>

    <div>
        {{ form(form) }}
    </div>

{% endblock %}
