{% extends 'base.html.twig' %}

{% block title %}BlogFoot - Ecrire un nouveau commentaire{% endblock %}

{% block body %}
    <h1>Ecrire un nouveau commentaire</h1>

    {{ include('admin_comment/_form.html.twig') }}

    <a href="{{ path('app_admin_comment_index') }}"><button class="btn btn-primary">Revenir à la liste des commentaires</button></a>
{% endblock %}
